---
import GitHubIcon from "./GitHubIcon.astro"
import ThemeSelector from "@astrojs/starlight/components/ThemeSelect.astro"
import Search from "@astrojs/starlight/components/Search.astro"
import Logo from "./Logo.astro"
import LanguageSelect from "@astrojs/starlight/components/LanguageSelect.astro"
import MobileNavigation from "./MobileNavigation.astro"
---

 <header
      class:list={[
        "sticky top-0 z-50 flex flex-row lg:flex-row flex-wrap items-center",
        "justify-between px-4 py-5 shadow-md shadow-slate-900/5 transition",
        "duration-500 sm:px-6 lg:px-8 dark:shadow-none bg-white dark:bg-slate-900"
      ]}
    >
  <div class="mr-6 flex lg:hidden">
     <MobileNavigation /> 
    
  </div>
  <div>
    <a href={Astro.site} aria-label="Home page">
      <Logo />
    </a>
  </div>
  <div class="inline-flex">
    <div>
      <Search />
    </div>
  </div>
  <div class="relative flex justify-end gap-6 sm:gap-8  items-center">
        <ThemeSelector />
        <LanguageSelect />
        <a href="https://github.com/stellayazilim/ergosfare" class="group" aria-label="GitHub">
          <GitHubIcon class="h-6 w-6 fill-slate-400 group-hover:fill-slate-500 dark:group-hover:fill-slate-300" /> 
        </a>
  </div>
</header>



<script >

    const header: HTMLElement | undefined =  document.getElementsByTagName("header")?.[0]
    const onWindowScroll = () => {

        if (window.scrollY > 0) {
            header.classList.add("dark:bg-slate-900/95", "dark:backdrop-blur-sm", "dark:[@supports(backdrop-filter:blur(0))]:bg-slate-900/75");
            return header.classList.remove('dark:bg-transparent')
            
        } 
        
        header.classList.add('dark:bg-transparent')
        return header.classList.remove("dark:bg-slate-900/95", "dark:backdrop-blur-sm", "dark:[@supports(backdrop-filter:blur(0))]:bg-slate-900/75")
    }

    onWindowScroll()
    window.addEventListener("scroll", onWindowScroll, { passive: true })


</script>