---
import TableOfContents from "./TableOfContents.astro";

---




<div class="w-full max-w-2xl min-w-0 px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
    <slot />
</div>


<div class="relative">
    <TableOfContents  />
</div>